In [85]:
# import the essential libraries 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [86]:
# import the df with some data processing 
df = pd.read_csv('databases/csvs/fitness_class_2212.csv')
column_to_drop = 'booking_id'
df = df.drop(column_to_drop, axis=1)
df = pd.get_dummies(df, columns=['category', 'time'])
df['weight']= df['weight'].fillna(df['weight'].mean())
df

,months_as_member,weight,days_before,day_of_week,attended,category_-,category_Aqua,category_Cycling,category_HIIT,category_Strength,category_Yoga,time_AM,time_PM
0,17,79.56,8,Wed,0,0,0,0,0,1,0,0,1
1,10,79.01,2,Mon,0,0,0,0,1,0,0,1,0
2,16,74.53,14,Sun,0,0,0,0,0,1,0,1,0
3,5,86.12,10,Fri,0,0,0,1,0,0,0,1,0
4,15,69.29,8,Thu,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,21,79.51,10,Fri,0,0,0,0,1,0,0,1,0
1496,29,89.55,2,Mon,0,0,0,0,0,1,0,1,0
1497,9,87.38,4,Tue,0,0,0,0,1,0,0,1,0
1498,34,68.64,14,Sun,0,0,1,0,0,0,0,1,0
1499,20,94.39,8,Thu,1,0,0,1,0,0,0,1,0

In [87]:
df['day_of_week'] = df['day_of_week'].str[:3]

day_mapping = {
    'Mon': 1,
    'Tue': 2,
    'Wed': 3,
    'Thu': 4,
    'Fri': 5,
    'Sat': 6,
    'Sun': 7
}

df['day_of_week'] = df['day_of_week'].map(day_mapping)

In [88]:
df['days_before'] = df['days_before'].astype(str)

In [89]:
df['days_before'] = df['days_before'].str.replace(' days', '').astype(int)

In [90]:
df

,months_as_member,weight,days_before,day_of_week,attended,category_-,category_Aqua,category_Cycling,category_HIIT,category_Strength,category_Yoga,time_AM,time_PM
0,17,79.56,8,3,0,0,0,0,0,1,0,0,1
1,10,79.01,2,1,0,0,0,0,1,0,0,1,0
2,16,74.53,14,7,0,0,0,0,0,1,0,1,0
3,5,86.12,10,5,0,0,0,1,0,0,0,1,0
4,15,69.29,8,4,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,21,79.51,10,5,0,0,0,0,1,0,0,1,0
1496,29,89.55,2,1,0,0,0,0,0,1,0,1,0
1497,9,87.38,4,2,0,0,0,0,1,0,0,1,0
1498,34,68.64,14,7,0,0,1,0,0,0,0,1,0
1499,20,94.39,8,4,1,0,0,1,0,0,0,1,0

In [91]:
# X & y 
X = df.iloc[:, :4].values # : in python means a range neither has upper or lower bound. lower bound is 0
y = df.iloc[:, 4].values

In [92]:
#train
from sklearn.model_selection import train_test_split, GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20, random_state= 42)

In [93]:
# prevent overfitting 
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler() # remember this. the goal of standardization is to have all the values of the features in the same range. -3 & +3
X_train = sc.fit_transform(X_train) 
X_test = sc.transform(X_test)

In [95]:
from sklearn.svm import SVC
classifier = SVC(kernel="rbf", random_state=0, degree =5)
classifier.fit(X_train, y_train)

SVC(degree=5, random_state=0)

In [96]:
y_preds = classifier.predict(X_test)
print(np.concatenate((y_preds.reshape(len(y_preds),1),y_test.reshape(len(y_test),1)),1))

[[0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 1]
 [0 1]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [1 0]
 [0 0]
 [1 1]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 1]
 [1 1]
 [1 1]
 [0 1]
 [1 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [1 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [1 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 1]
 [0 0]
 [0 1]
 [0 1]
 [1 1]
 [1 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [1 1]
 [1 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 0]
 [0 1]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 1]
 [0 1]
 [1 1]
 [0 0]
 [0 0]
 [0 1]
 [1 1]
 [0 0]
 [1 1]
 [0 0]]

In [97]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
cm =confusion_matrix(y_test, y_preds)
print(cm)

acc=accuracy_score(y_test, y_preds)
print(acc) 
print(f" Model Accuracy: {acc * 100:.2f}%")

[[188   9]
 [ 59  44]]
0.7733333333333333
 Model Accuracy: 77.33%

In [98]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score (estimator = classifier, X = X_train, y = y_train, cv =10) # cv = 10 (10 test folds)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100)) # remeber this code 
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))
# here there is lee way between the accruacy of + or - 2.58

Accuracy: 78.50 %
Standard Deviation: 2.58 %